.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}
.bunch {
  list-style: none;
  margin: 0;
  padding: 0;
}
.oneTodo{
  border-radius: 30px;
  margin: 10px 0;
  background-color: rgb(249, 6, 38) ;
  display: flex;
  width: 450px;
  align-items: center;
}
.content{
 flex: 3;
  text-align: start;
}